include .coveragerc
include .travis.yml
include LICENSE
include MANIFEST.in
include README.rst
include mopidy_zestbox/ext.conf

recursive-include tests *.py

# added by check_manifest.py
recursive-include mopidy_zestbox *.css
recursive-include mopidy_zestbox *.eot
recursive-include mopidy_zestbox *.html
recursive-include mopidy_zestbox *.js
recursive-include mopidy_zestbox *.svg
recursive-include mopidy_zestbox *.ttf
recursive-include mopidy_zestbox *.woff
recursive-include mopidy_zestbox *.woff2
