<!doctype html>
<html ng-app="visualizerApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ZESTBOX VISUALIZER</title>

    <link href="vendors/bootstrap.min.css" rel="stylesheet">
    <link href="vendors/fontawesome-all.min.css" rel="stylesheet">
    <link href="{{ style }}" rel="stylesheet">

    <script type="text/javascript" src="https://unpkg.com/icecast-metadata-player@1.14.4"></script>
    <script type="text/javascript" src="vendors/mopidy.min.js"></script>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="visualizer.js"></script>
  </head>
  <body ng-controller="MainController">
    <div class="container-fluid" style="margin-top:60px">
      <div class="container-md" style="margin-left:20%; margin-right:20%">
        <div class="row">
            <div class="col-4">
                <img 
                ng-src="{{! getTrackCoverImage(currentState.track) }}"
                class="img-thumbnail">
            </div>
                <div class="card card-body bg-light">
                    <span>{{! currentState.track.name }}
                    <small>
                        <span ng-if="currentState.track.artists">by</span>
                        <span ng-repeat="artist in currentState.track.artists">
                        <span ng-if="!$first"> & </span>
                        {{! artist.name }}
                        </span>
                    </small>
                    <small>{{! printDuration(currentState.track) }}</small>
                    </span>
                </div>
            </div>
            <div class="row">
                <div id="visualizer"></div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
