@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background: black;
  color: white;
}
.list-group-item, .card-body, hr{
  background: #333 !important;
}
.alert-success {
  background-color: #155724;
  color: #d4edda;
  border-color: transparent;
}
.alert-danger {
  background-color: #721c24;
  color: #f8d7da;
  border-color: transparent;
}
.alert {
  margin-top: 20px;
}
.add-button {
  float: left;
  margin: 10px 10px 10px 0px;
}
.tracksource {
  float: right;
  text-transform: uppercase;
}
.square {
  object-fit: cover;
  aspect-ratio: 1;
}
.playhead{
  overflow: visible;
  margin-top: -8px;
  box-sizing: content-box;
  width: 4px;
  height: 20px;
}
.bg-primary{
  background-color: #F9D857 !important;
}
.bg-secondary{
  background-color: #333 !important;
}
.bg-tertiary{
  background-color: #005228 !important;
}